<%- include('header') -%>
    <%- include('navigation') -%>
    <div>
      <h1 class="centered head1">Organize your Task with todoist</h1>
      <div class="head">
          <img class="mobile" src="img/undraw.svg" alt="phone">
          <div class="heads">
            <h3 class="headingss centered">Start Working On Your Task Now!</h3>
            <h4 class="headingss centered">Simple enough to start collaborating in seconds</h4>
          </div>
      </div>
<%- include('footer') -%>